<table class="custom-table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Подразделение</th>
            <th>Операция</th>
            
            <th>Культура</th>

            <th>За день, га</th>
            <th> С начала операции, га</th>

            <th>Вал за день, ц</th>
            <th>Вал с начала, ц</th>
            
             
        </tr>
    </thead>
    <tbody>
        {% for row in grouped_records %}
        <tr>
            <td>{{ row.DATE }}</td>
            <td>{{ row.DEPARTMENT }}</td>
            <td>{{ row.OPERATION }}</td>

            <td>{{ row.CROP }}</td>
            <!--- <td>{{ row.HECTARE }}</td> --->
            
            <td>{{ row.HECTARE }}</td>
            <td>{{ row.TOTAL_HECTARE }}</td>

            <!-- <td>{{ row.SUBUNIT }}</td> --->

            <td>{{ row.DAY_YIELD }}</td>
            <td>{{ row.YIELD_TOTAL }}</td>
            

            

            

            
        </tr>
        {% endfor %}
    </tbody>
</table>

