{% extends "base.html" %} 
{% load static %} 

{% block title %}Аналитика{% endblock %} 

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/analytics.css' %}" />
{% endblock %}

{% block content %}
<div class="analytics-container">
  <h1>Графики выполнения операций</h1>

  <div class="chart-container">
    <div class="summary" id="summary-forecast"></div>
    <div id="bar-chart-forecast" class="chart"></div>
  </div>

  <div class="chart-container">
    <div class="summary" id="summary-lagging"></div>
    <div id="bar-chart-lagging" class="chart"></div>
  </div>

  <div class="chart-container">
    <div class="summary" id="summary-operations"></div>
    <div id="pie-chart-operations" class="chart"></div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.plot.ly/plotly-2.26.0.min.js"></script>
<script src="{% static 'js/analytics.js' %}"></script>
{% endblock %}